body{
    width: 100vw;
}

#main-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    border-radius: 8px;
    width: 400px;
    margin: 40px auto;
    background-color: aquamarine;
}

#display{
    border: 2px solid black;
    border-radius: 8px;
    text-align: right;
    padding-left: auto;
    padding: 12px;
    box-sizing: border-box;
    background-color: lightblue;
    font-family: Roboto, sans-serif;
}
#main-display{
    font-size: 24px;
    height: 24px;
}
#mini-display{
    font-size: 12px;
    text-align: left;
    height: 12px;
}
#button-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
button{
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
#clear{
    width: 260px;
    background-color: chocolate;
}
#evaluate{
    width: 260px;
    background-color: cadetblue;
}
.operator{
    background-color: darkseagreen;
}
.number, #decimal-point, #sign{
    background-color: darkkhaki;
}
#backspace{
    background-color:chocolate;
}
